@page
@model BatteryPeykCustomers.Pages.Admin.Ampers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            عنوان
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amper.Title)
        </dd>
        <dt class="col-sm-2">
            آمپر
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amper.Amperage)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Amper.Id" />
        <input type="submit" value="حذف" class="btn btn-danger mt-2" />
        <a asp-page="./Index" class="btn btn-primary mt-2">بازگشت</a>
    </form>
</div>
