@page
@model BatteryPeykCustomers.Pages.Admin.Debts.CreateModel

@{
    ViewData["Title"] = "Create";
    // string dateNow = DateTime.Now.ToString("yyyy-MM-dd");
}



<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
           @*  <div class="form-group mb-2">
                طرف حساب
                <select asp-for="Debt.CounterpartyId" class="form-select" asp-items="ViewBag.CounterpartyId">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group mb-2">
                بابت
                <select asp-for="Debt.ReasonId" class="form-select" asp-items="ViewBag.ReasonId">
                    <option value=""></option>
                </select>
            </div> *@
            <div class="form-group mb-2">
                مبلغ
                <input type="text" id="numberInput" asp-for="Debt.Amount" class="form-control" />
                <lable id="amount"></lable>
            </div>  
            @* <div class="form-group mb-2">
                تاریخ سررسید
                <input asp-for="Debt.DueDate" id="From_Date" value="@dateNow" type="date" class="form-control" />
                <span asp-validation-for="Debt.DueDate" class="text-danger"></span>
            </div> *@
            <div class="form-group mb-2">
                توضیحات
                <textarea asp-for="Debt.Description" class="form-control"></textarea>
            </div>



            <div class="form-group mb-2">
                <input type="submit" value="ذخیره" class="btn btn-info mt-2" />
                <a asp-page="./Index" class="btn btn-success mt-2">بازگشت</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#numberInput').on('input', function () {
                var value = $(this).val();
                value = value.replace(/,/g, ''); // Remove existing commas
                if (!isNaN(value) && value !== '') {
                    value = parseFloat(value).toLocaleString('en-US');
                }
                $('#amount').text(value);
            });
        });
    </script>
}
