@page
@model BatteryPeykCustomers.Pages.Admin.Batteries.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Battery.Id" />
            <div class="form-group">
                سود
                <input asp-for="Battery.Profit" class="form-control" />
                <span asp-validation-for="Battery.Profit" class="text-danger"></span>
            </div>
            <div class="form-group">
                تعداد
                <input asp-for="Battery.Quantity" class="form-control" />
                <span asp-validation-for="Battery.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                حد نصاب هشدار موجودی
                <input asp-for="Battery.AlertQuantity" class="form-control" />
                <span asp-validation-for="Battery.AlertQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                آمپر
                <select asp-for="Battery.AmperId" class="form-control" asp-items="ViewBag.AmperId"></select>
                <span asp-validation-for="Battery.AmperId" class="text-danger"></span>
            </div>
            <div class="form-group">
                باتری
                <select asp-for="Battery.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="Battery.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-info mt-2" />
                <a asp-page="./Index" class="btn btn-success mt-2">بازگشت</a>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
