@page
@model BatteryPeykCustomers.Pages.Admin.Credits.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                مبلغ
                <input asp-for="Credit.Amount" class="form-control" />
                <span asp-validation-for="Credit.Amount" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                توضیحات
                <textarea asp-for="Credit.Description" class="form-control"></textarea>
                <span asp-validation-for="Credit.Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="ذخیره" class="btn btn-info mt-2" />
                <a asp-page="./Index" class="btn btn-success mt-2">بازگشت</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
