@page
@model BatteryPeykCustomers.Pages.Admin.Credits.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            تاریخ
        </dt>
        <dd class="col-sm-10">
            @Model.Credit.Date.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            مبلغ
        </dt>
        <dd class="col-sm-10">
            @Model.Credit.Amount.ToString("N0")
        </dd>
      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credit.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Credit.Id" />
        <input type="submit" value="حذف" class="btn btn-danger mt-2" />
        <a asp-page="./Index" class="btn btn-success mt-2">بازگشت</a>
    </form>
</div>
