@page
@model BatteryPeykCustomers.Pages.Admin.Reasons.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                عنوان
                <input asp-for="Reason.Title" class="form-control" />
                <span asp-validation-for="Reason.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-info mt-2" />
                <a asp-page="./Index" class="btn btn-success mt-2">بازگشت</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
