@font-face {
    font-family: "shabnamlight";
    src: url("../fonts/Shabnam-Light-FD.eot?"),url("../fonts/Shabnam-Light-FD.woff") format("woff"),url("../fonts/Shabnam-Light-FD.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Shabnam-Bold";
    src: url("../fonts/Shabnam-Bold-FD.eot?"),url("../fonts/Shabnam-Bold-FD.woff") format("woff"),url("../fonts/Shabnam-Bold-FD.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Shabnam-FD";
    src: url("../fonts/Shabnam-FD.eot?"),url("../fonts/Shabnam-FD.woff") format("woff"),url("../fonts/Shabnam-FD.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Shabnam-FD";
}

p {
    font-family: "Shabnam-FD";
}

a {
    font-family: "Shabnam-FD";
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Shabnam-Bold";
    font-weight: 700;
}

span {
    color: royalblue;
}
