@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To <a href="https://BatteryPeyk.com">Battery Peyk</a> VIP customer care center</p>
</div>
