@page
@model BatteryPeykCustomers.Pages.NotFoundModel
@{
}
@{
    ViewData["Title"] = "Create";
}

<h1>Login to your VIP panel</h1>

<p class="text-danger">Invalid phone number. Please, enter your phone number and try again.</p>

<div class="row">
    <div class="col-lg-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserPhone.PhoneNumber" class="control-label"></label>
                <input asp-for="UserPhone.PhoneNumber" class="form-control" placeholder="09123456789" />
                <span asp-validation-for="UserPhone.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
