@page
@model BatteryPeykCustomers.Pages.Admin.Useds.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                تعداد 
                <input asp-for="Used.Quantity" class="form-control" />
            </div>
            <div class="form-group">
                آمپر
                <input asp-for="Used.Amperage" class="form-control" />
            </div>
            <div class="form-group mb-2">
                برند داغی
                <input asp-for="UsedBrand " class="form-control" />
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="ذخیره" class="btn btn-primary mt-2" />
                <a asp-page="./Index" class="btn btn-primary mt-2">بازگشت</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
