@page
@model BatteryPeykCustomers.Pages.Admin.Useds.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



    <dl class="row">
        <dt class="col-sm-2">
            تعداد
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Used.Quantity)
        </dd>
        <dt class="col-sm-2">
            آمپر
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Used.Amperage)
        </dd>
    </dl>

<form method="post">
    <input type="hidden" asp-for="Used.Id" />
    <input type="submit" value="حذف" class="btn btn-danger mt-2" />
    <a asp-page="./Index" class="btn btn-success mt-2">بازگشت</a>
</form>
</div>
