@page
@model BatteryPeykCustomers.Pages.Admin.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}
<input type="hidden" asp-for="CustomerId" id="customerId" />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-check mb-2">
                <input class="form-check-input" style="width:22px;height:22px;" id="used" type="checkbox" asp-for="vm.HasUsed" checked>
                داغی دارد
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" style="width:22px;height:22px;" id="guarantyCustomer" type="checkbox" asp-for="vm.GuarrantyCustomer">
                مشتری گارانتی
            </div>
            <div class="form-group mb-2">
                تلفن
                <input asp-for="vm.Phone" class="form-control" id="phone" />
                <span asp-validation-for="vm.Phone" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                نام
                <input asp-for="vm.Name" class="form-control" id="name" />
                <span asp-validation-for="vm.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                آدرس
                <textarea asp-for="vm.Address" class="form-control" id="address"></textarea>
                <span asp-validation-for="vm.Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-2" id="car">
                ماشین
                <select asp-for="vm.VehicleId" class="form-select" asp-items="ViewBag.Vehicles" id="vehicleSelect">
                    <option value=""></option>
                </select>
                <span asp-validation-for="vm.VehicleId" class="text-danger"></span>

            </div>
            <div class="form-group mb-2">
                باتری
                <select id="company" asp-for="vm.CompanyId" class="form-select" asp-items="ViewBag.Companies">
                    <option value=""></option>
                </select>
                <span asp-validation-for="vm.CompanyId" class="text-danger"></span>

            </div>
            <div class="form-group mb-2">
                آمپر
                <div class="row">
                    <div class="col">
                        <select asp-for="vm.AmperId" id="amper" class="form-select" asp-items="ViewBag.Ampers">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col">
                        موجودی انبار:
                        <span id="qty"></span>

                    </div>
                </div>
                <span asp-validation-for="vm.AmperId" class="text-danger"></span>

            </div>
            <div class="form-group mb-2">
                گارانتی
                <input id=guaranty asp-for="vm.Guaranty" class="form-control" />
                <span asp-validation-for="vm.Guaranty" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                عمر مفید
                <input id=lifeTime asp-for="vm.LifeExpectancy" class="form-control" />
                <span asp-validation-for="vm.LifeExpectancy" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                سود
                <input id=profit asp-for="vm.Profit" class="form-control" />
                <span asp-validation-for="vm.Profit" class="text-danger"></span>
            </div>


            <div class="form-group mb-2">
                آمپر داغی
                <input id=usedBatteryAmper asp-for="vm.UsedBatteryAmper" class="form-control" />
            </div>
            <div class="form-group mb-2">
                برند داغی
                <input id=usedAmperDifference asp-for="vm.UsedBatteryBrand
" class="form-control" />
            </div>
            <div class="form-group mb-2">
                توضیحات
                <textarea asp-for="vm.Comments" class="form-control"></textarea>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="ذخیره" class="btn btn-primary mt-2" />
                <a asp-page="./Index" class="btn btn-primary mt-2">بازگشت</a>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(document).ready(function () {

                var companyId;
                $('#company').change(function () {

                    companyId = $(this).val();
                    var guarantyInput = $('#guaranty');
                    var lifeTimeInput = $('#lifeTime');

                    if (companyId) {
                        $.getJSON('@Url.Page("Create", "Company")', { companyId: companyId }, function (data) {
                            guarantyInput.val(data.guarranty);
                            lifeTimeInput.val(data.lifeTime);
                        });
                    } else {
                        guarantyInput.val("");
                        lifeTimeInput.val("");
                    }
                });
                $('#amper').change(function () {

                    var amperId = $(this).val();
                    var selectedText = $('#amper option:selected').text();
                    if (selectedText==='6 ولت 4/5')
                        $('#usedBatteryAmper').val('7');
                     else if (selectedText==='6068' || selectedText==='6069')
                        $('#usedBatteryAmper').val('60');
                     else if (selectedText==='7024' || selectedText==='7029')
                        $('#usedBatteryAmper').val('70');
                     else if (selectedText==='90L' || selectedText==='90R')
                        $('#usedBatteryAmper').val('90');
                   else {var subStr=selectedText.substring(0, selectedText.indexOf(' '));

                    $('#usedBatteryAmper').val(subStr);
                   }
                    if (amperId) {
                        $.getJSON('@Url.Page("Create", "Quantity")', { companyId: companyId, amperId: amperId }, function (data) {
                            if (data == null) {
                                $('#qty').text('-');
                                $('#profit').val("");
                            }
                            else {
                                $('#qty').text(data.quantity);
                                $('#profit').val(data.profit);
                            }
                        })
                    }
                });
                $('#guarantyCustomer').change(function () {

                    if (this.checked)
                        $('#used').attr('checked', false);
                });
                 $('#phone').change(function () {

                    var phoneNo = $(this).val();

                    if (phoneNo) {
                        $.getJSON('@Url.Page("Create", "phoneNo")', { phoneNo: phoneNo }, function (data) {
                            if (data != null) {
                            let customerId = data.id || data.Id;
                             var carsUrl = '@Url.Page("/Admin/Cars/Index")';
                             window.location.href = carsUrl + '?customerId=' + encodeURIComponent(customerId);
                        }
                        })
                    }
                });
            }
            );
             $('#vehicleSelect').select2({
                        placeholder: "",
                        allowClear: true,
                        width: '100%'
                    });
        </script>
    }
}