@page
@model BatteryPeykCustomers.Pages.Admin.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}
<input type="hidden" asp-for="CustomerId" />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-check mb-2">
                <input class="form-check-input" id="guarantyCustomer" type="checkbox" asp-for="vm.GuarrantyCustomer">
                مشتری گارانتی
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" id="used" type="checkbox" asp-for="vm.HasUsed" checked>
                داغی دارد
            </div>
            <div class="form-group mb-2">
                تلفن
                <input asp-for="vm.Phone" class="form-control" />
                <span asp-validation-for="vm.Phone" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                نام
                <input asp-for="vm.Name" class="form-control" />
                <span asp-validation-for="vm.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                آدرس
                <textarea asp-for="vm.Address" class="form-control"></textarea>
                <span asp-validation-for="vm.Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-2" id="car" >
                ماشین
                <select asp-for="vm.VehicleId" class="form-select" asp-items="ViewBag.Vehicles">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group mb-2">
                باتری
                <select id="company" asp-for="vm.CompanyId" class="form-select" asp-items="ViewBag.Companies">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group mb-2">
                آمپر
                <div class="row">
                    <div class="col">
                        <select asp-for="vm.AmperId" id="amper" class="form-select" asp-items="ViewBag.Ampers">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col">
                        موجودی انبار:
                        <span id="qty"></span>

                    </div>
                </div>
            </div>
            <div class="form-group mb-2">
                گارانتی
                <input id=guaranty asp-for="vm.Guaranty" class="form-control" />
                <span asp-validation-for="vm.Guaranty" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                عمر مفید
                <input id=lifeTime asp-for="vm.LifeExpectancy" class="form-control" />
                <span asp-validation-for="vm.LifeExpectancy" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                سود
                <input id=profit asp-for="vm.Profit" class="form-control" />
                <span asp-validation-for="vm.Profit" class="text-danger"></span>
            </div>


            <div class="form-group mb-2">
                توضیحات
                <textarea asp-for="vm.Comments" class="form-control"></textarea>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="ذخیره" class="btn btn-info mt-2" />
                <a asp-page="./Index" class="btn btn-success mt-2">بازگشت</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(document).ready(function () {

                var companyId;
                $('#company').change(function () {

                    companyId = $(this).val();
                    var guarantyInput = $('#guaranty');
                    var lifeTimeInput = $('#lifeTime');

                    if (companyId) {
                        $.getJSON('@Url.Page("Create", "Company")', { companyId: companyId }, function (data) {
                            guarantyInput.val(data.guarranty);
                            lifeTimeInput.val(data.lifeTime);
                        });
                    } else {
                        guarantyInput.val("");
                        lifeTimeInput.val("");
                    }
                });
                $('#amper').change(function () {

                    var amperId = $(this).val();


                    if (amperId) {
                        $.getJSON('@Url.Page("Create", "Quantity")', { companyId: companyId, amperId: amperId }, function (data) {
                            if (data == null) {
                                $('#qty').text('-');
                                $('#profit').val("");
                            }
                            else {
                                $('#qty').text(data.quantity);
                                $('#profit').val(data.profit);
                            }

                        })
                    }

                });
                $('#guarantyCustomer').change(function () {

                    if (this.checked)
                        $('#used').attr('checked', false);

                })
            }
            );
        </script>
    }
}	