@page
@model BatteryPeykCustomers.Pages.Admin.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-2">
                تلفن
                <input asp-for="vm.Phone" class="form-control" />
                <span asp-validation-for="vm.Phone" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                نام
                <input asp-for="vm.Name" class="form-control" />
                <span asp-validation-for="vm.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                آدرس
                <textarea asp-for="vm.Address" class="form-control" ></textarea>
                <span asp-validation-for="vm.Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                ماشین
                <select asp-for="vm.VehicleId" class="form-select" asp-items="ViewBag.Vehicles">
                    <option value=""></option>
                </select>

            </div>
            <div class="form-group mb-2">
                باتری
                <select id="company" asp-for="vm.CompanyId" class="form-select" asp-items="ViewBag.Companies" >
                    <option value=""></option>
                </select>

            </div>   <div class="form-group mb-2">
                آمپر
                <select asp-for="vm.AmperId" class="form-select" asp-items="ViewBag.Ampers" >
                    <option value=""></option>
                </select>

            </div>
            <div class="form-group">
                گارانتی
                <input id=guaranty asp-for="vm.Guaranty" class="form-control" />
                <span asp-validation-for="vm.Guaranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                عمر مفید
                <input id=lifeTime asp-for="vm.LifeExpectancy" class="form-control" />
                <span asp-validation-for="vm.LifeExpectancy" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                توضیحات
                <textarea asp-for="vm.Comments" class="form-control"></textarea>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="ذخیره" class="btn btn-info mt-2" />
                <a asp-page="./Index" class="btn btn-success mt-2">بازگشت</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
            <script>
                $(document).ready(function () {
                    $('#company').change(function () {

                        var companyId = $(this).val();
                        var guarantyInput = $('#guaranty');
                        var lifeTimeInput = $('#lifeTime');

                        if (companyId) {
                            $.getJSON('@Url.Page("Create", "Company")', { companyId: companyId }, function (data) {
                                console.log(data);
                                guarantyInput.val(data.guarranty);
                                lifeTimeInput.val(data.lifeTime);
                            });
                        } else {
                            guarantyInput.val("");
                            lifeTimeInput.val("");
                        }
                    });
                });
            </script>
    }
}
