@page
@model BatteryPeykCustomers.Pages.Admin.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-md-4">
        <input type="hidden" asp-for="Customer.Id" />
        <div class="form-group mb-2">
        شرکت
            <input asp-for="Customer.IsCompany" disabled class="form-check-input" type="checkbox">
        </div>
        <div class="form-group mb-2">
            تلفن
            <input asp-for="Customer.Phone" disabled class="form-control" />
        </div>
        <div class="form-group mb-2">
            نام
            <input asp-for="Customer.Name" disabled class="form-control" />

        </div>
        <div class="form-group mb-2">
            آدرس
            <textarea asp-for="Customer.Address" disabled class="form-control" ></textarea>

        </div>
        <form method="post">
            <div class="form-group my-3">
                <input type="submit" value="ریست داغی ها" class="btn btn-danger mt-2" />
                <a asp-page="./Index" class="btn btn-primary mt-2">بازگشت</a>

            </div>
        </form>
    </div>
</div>


