@page
@model BatteryPeykCustomers.Pages.Admin.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Customer.Id" />
            <div class="form-group">
                تلفن
                <input asp-for="Customer.Phone" disabled class="form-control" />
            </div>
            <div class="form-group">
                نام
                <input asp-for="Customer.Name" disabled class="form-control" />
                
            </div>
            <div class="form-group">
                آدرس
                <input asp-for="Customer.Address" disabled  class="form-control" />
                
            </div>
            <div class="form-group my-3">
                <input type="submit" value="حذف" class="btn btn-info mt-2" />
                <a asp-page="Index" class="btn btn-success mt-2">بازگشت</a>

            </div>
        </form>
    </div>
</div>


