@page
@model BatteryPeykCustomers.Pages.Admin.Customers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.Id" />
            <div class="form-group">
                <label asp-for="Customer.Phone" class="control-label"></label>
                <input asp-for="Customer.Phone" class="form-control" />
                <span asp-validation-for="Customer.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Name" class="control-label"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <input asp-for="Customer.Address" class="form-control" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Car" class="control-label"></label>
                <input asp-for="Customer.Car" class="form-control" />
                <span asp-validation-for="Customer.Car" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Battery" class="control-label"></label>
                <input asp-for="Customer.Battery" class="form-control" />
                <span asp-validation-for="Customer.Battery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PurchaseDate" class="control-label"></label>
                <input asp-for="Customer.PurchaseDate" type="date" class="form-control" />
                <span asp-validation-for="Customer.PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Guaranty" class="control-label"></label>
                <input asp-for="Customer.Guaranty" class="form-control" />
                <span asp-validation-for="Customer.Guaranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LifeExpectancy" class="control-label"></label>
                <input asp-for="Customer.LifeExpectancy" class="form-control" />
                <span asp-validation-for="Customer.LifeExpectancy" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Customer.Comments" class="control-label"></label>
                <input asp-for="Customer.Comments" class="form-control" />
                <span asp-validation-for="Customer.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info mt-2" />
                <a asp-page="./Index" class="btn btn-success mt-2">Back to List</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
