@page
@model BatteryPeykCars.Pages.Admin.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input hidden asp-for="Car.CustomerId" />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group mb-2">
                ماشین
                <select asp-for="SelectedCarId" class="form-select" asp-items="ViewBag.Vehicles">
                    <option value=""></option>
                </select>

            </div>
            <div class="form-group mb-2">
                باتری
                <select id="company" asp-for="SelectedBatteryId" class="form-select" asp-items="ViewBag.Companies">
                    <option value=""></option>
                </select>

            </div>   <div class="form-group mb-2">
                آمپر
                <select asp-for="SelectedAmperId" class="form-select" asp-items="ViewBag.Ampers">
                    <option value=""></option>
                </select>

            </div>
            <div class="form-group mb-2">
                گارانتی
                <input id=guaranty asp-for="Car.Guaranty" class="form-control" />
                <span asp-validation-for="Car.Guaranty" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                عمر مفید
                <input id=lifeTime asp-for="Car.LifeExpectancy" class="form-control" />
                <span asp-validation-for="Car.LifeExpectancy" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                توضیحات
                <input asp-for="Car.Comments" class="form-control" />
                <span asp-validation-for="Car.Comments" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="ذخیره" class="btn btn-info mt-2" />
                <a class="btn btn-success ml-2" asp-page="./Index">بازگشت</a>


            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(document).ready(function () {
                $('#company').change(function () {

                    var companyId = $(this).val();
                    var guarantyInput = $('#guaranty');
                    var lifeTimeInput = $('#lifeTime');

                    if (companyId) {
                        $.getJSON('@Url.Page("Create", "Company")', { companyId: companyId }, function (data) {
                            guarantyInput.val(data.guarranty);
                            lifeTimeInput.val(data.lifeTime);
                        });
                    } else {
                        guarantyInput.val("");
                        lifeTimeInput.val("");
                    }
                });
            });
        </script>
    }
}
