@page
@using BatteryPeykCustomers.Helpers
@model BatteryPeykCustomers.Pages.Admin.Cars.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input hidden asp-for="Car.CustomerId" />

            <input type="hidden" asp-for="Car.Id" />
            
            <div class="form-group">
                ماشین
                <input asp-for="Car.Make" class="form-control" />
                <span asp-validation-for="Car.Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                باتری
                <input asp-for="Car.Battery" class="form-control" />
                <span asp-validation-for="Car.Battery" class="text-danger"></span>
            </div>
            <div class="form-group">
                تاریخ خرید
                <input asp-for="Car.PurchaseDate" type="date" class="form-control" />
                <span asp-validation-for="Car.PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                گارانتی
                <input asp-for="Car.Guaranty" class="form-control" />
                <span asp-validation-for="Car.Guaranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                عمر مفید
                <input asp-for="Car.LifeExpectancy" class="form-control" />
                <span asp-validation-for="Car.LifeExpectancy" class="text-danger"></span>
            </div> 
            <div class="form-group">
                توضیحات
                <input asp-for="Car.Comments" class="form-control" />
                <span asp-validation-for="Car.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حذف" class="btn btn-danger mt-2" />
                <a href='javascript:history.go(-1)' class="btn btn-success mt-2">بازگشت</a>

            </div>
        </form>
    </div>
</div>




