@page
@model BatteryPeykCustomers.Pages.Admin.Brands.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div>

    <dl class="row">
        <dt class="col-sm-2">
            عنوان
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Title)
        </dd>
        <dt class="col-sm-2">
            مدت گارانتی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Guarranty)
        </dd>
        <dt class="col-sm-2">
            عمر مفید
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.LifeTime)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary ml-2" asp-page="./Edit" asp-route-id="@Model.Company.Id">ویرایش</a>
    <a class="btn btn-primary ml-2" asp-page="./Index">بازگشت</a>
</div>
