@page
@model BatteryPeykCustomers.Pages.Admin.Brands.EditModel

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Brand.Id" />
            <div class="form-group mb-2">
                عنوان
                <input asp-for="Brand.Title" class="form-control" />
                <span asp-validation-for="Brand.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                مدت گارانتی
                <input asp-for="Brand.Guarranty" class="form-control" />
                <span asp-validation-for="Brand.Guarranty" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                عمر مفید
                <input asp-for="Brand.LifeTime" class="form-control" />
                <span asp-validation-for="Brand.LifeTime" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="ذخیره" class="btn btn-info mt-2" />
                <a asp-page="./Index" class="btn btn-success mt-2">بازگشت</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
