@page
@model BatteryPeykCustomers.Pages.Admin.Vehicles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary" asp-page="Create">
        <i class="bi bi-plus-square ms-2"></i>ماشین جدید
    </a>
</p>
<div class="row">
    <div class="col-sm-4">
        <form>

            <div class="form-floating">
                <input type="text" class="form-control mb-1" asp-for="SearchNameString" id="name" placeholder="Name" />
                <label for="name">نام</label>
            </div>

            <button type="submit" class="btn btn-primary mt-2"><i class="bi bi-search ms-2"></i>جستجو</button>

        </form>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>
                        نام ماشین
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Vehicle)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Make)
                        </td>
                        <td class="text-center">
                            <a asp-page="./Edit" asp-route-id="@item.Id" style="text-decoration:none"> <i class="bi bi-pencil-square ms-2" style="font-size:1.5rem"></i> </a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" style="text-decoration:none" class="text-danger"><i class="bi bi-trash-fill ms-2" style="font-size:1.5rem"></i> </a>
                            <a asp-page="./Details" asp-route-id="@item.Id" style="text-decoration:none" class="text-primary"><i class="bi bi-primary-square-fill" style="font-size:1.5rem"></i> </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>